AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: TopLevel # BreakAfterReturnType: TopLevel
BasedOnStyle: Google
BreakBeforeBraces: Allman
ColumnLimit: 120
DerivePointerAlignment: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*/.*|.*imgui.*>$'
    Priority: 3
  - Regex: '^[^/]*\.h$'
    Priority: 1
  - Regex: '^[^/]*$'
    Priority: 2
  - Regex: '.*'
    Priority: 4
IndentWidth: 4
InsertNewlineAtEOF: true
Language: Cpp
PointerAlignment: Right
ReflowComments: true
SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
TabWidth: 4
UseTab: Never
