[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/libgit2"]
	path = external/libgit2
	url = https://github.com/libgit2/libgit2
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
